
.top-bar .name h1 a {
    font-weight: 200;
    font-size: 2em;
}
.menu-wrap ul {
    background: none;
}
.menu-wrap ul.left {
    font-family: 'Syncopate', sans-serif;
    background: none;
    height: 100% !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.top-bar.expanded .title-area {
    background: none;
}
@media only screen and (min-width: 40.063em) {
    .top-bar-section ul.left {
        background: none;
    }
}
.menu-wrap ul li > a {
    font-family: 'Syncopate', sans-serif;
}
.menu-wrap ul li {
    height: 100%;
    background: rgba(23, 23, 23, 0.8);
}

.menu-wrap li:not(.has-form) a:not(.button) {
    background: none;
    line-height: normal;
    padding-top: 11px;
}
.menu-wrap li a:not(.button) {
    background: none;
}
.menu-wrap li a:not(.button) {
    background: none;
}
a.blog:hover {
    background: #7D1935;
}
label {
    color: #f2f2f2;
}
span.name {
    /*    display: none;*/
}
.top-bar {
    /*    background: #171717;
    background: rgb(23, 23, 23);
    background: rgba(23, 23, 23, 0.8);*/
    height: 40px;
    /*    padding-top: 7px;*/
/*    background: none;*/
    margin-top: -40px;
}
.spacer {
    height: 100%;
    width: 56px;
    position: absolute;
    background: rgba(23, 23, 23, 0.8);
}
.menu-wrap {
    width: 353px;
    height: 100%;
    position: absolute;
}
.spacer2 {
    height: 100%;
    width: 100%;
    margin-left: 328px;
    background: rgba(23, 23, 23, 0.8);
}
.top-bar .row {
    height: 100%;
}
.top-bar-section {
    height: 100%;
}
.menu-wrap > ul {
    height: 100% !important;
}
.top-bar.expanded {
    background: #171717;
    /*    background: rgb(23, 23, 23);*/
    background: rgba(23, 23, 23, 0.8);
}
.top-bar .title-area {
    height: 100%;
}
.top-bar .name,
.top-bar .loc {
    background: none;
    font-weight: bold;
}
.menu-wrap li.menu-icon i {
    color: #aaa;
}
.menu-wrap li.menu-icon:hover {
    background: none;
}
.menu-wrap li.menu-icon i:hover {
    color: white;
}
.menu-wrap li.menu-icon i.icon-active {
    color: white;
}
.top-bar-section li.menu-icon.active > a {
    background: none;
}
.menu-wrap li.menu-icon.active i {
    color: #2ba6cb;
}
.hidden {
    display: none;
}
.menu-wrap li a:not(.button):hover {
    background: none;
}
.menu-wrap > ul > .divider,
.menu-wrap > ul >[role="separator"] {
    border-right: solid 1px #7D1935;
    border-left: solid 1px #7D1935;
}
.menu-wrap li.active:not(.has-form) a:not(.button) {
    padding: 0 15px;
    line-height: normal;
    height: 100%;
    color: white;
    background: none;
    padding-top: 11px;
}
[class*="foundicon-"] {
    font-size: 2em;
}
@media only screen and (max-width: 768px) {
    .top-bar .name h1 a {
        width: 75%;
    }
    span.name {
        display: inline;
    }
    ul.right {
        display: none;
    }
}