
.banner--clone {
    position: fixed;
    left: 0;
    z-index: 100;
    margin-top: 0 !important;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width: 100%;
}

.banner--stick {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
.row, .top-bar .row {
    max-width: 73rem;
    padding-left: 56px;
    margin-left: 3px;
    height: 100%;
}
.row.full{
    max-width: none;
    padding: 0;
}
.row.full .content-holder.left{
    padding-left: 56px;
}
.row.full .content-holder.right{
    padding-right: 56px;
}
.columns {
    padding-left: 0;
}
.clear {
    clear: both;
    overflow: hidden;
}
.aside {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
.left {
    padding-right: 25px;
}
.right {
    padding-left: 25px;
}
#logo-image {
    float: left;
    margin-top: 8px;
}
#header {
    width: 100%;
    position: relative;
}
.top-banner {
    float: right;
}
.wrapper {
    width: : 100%;
}
.mid-bar {
    position: relative;
}
#header .left {
    padding-top: 30px;
    padding-bottom: 30px;
}
#header .right {
    min-height: 104px;
}

ul.home-social {
  display: block;
  float: right;
  margin-bottom: 8px; }

ul.home-social li {
  list-style: none;
  display: block;
  float: left;
  margin-left: 10px; }

ul.home-social li:first-child {
  margin-left: 0; }

ul.home-social li a {
  display: block;
  height: 50px;
  width: 50px;
  background: url("/img/social.png") no-repeat center 0; }

ul.home-social li a:hover {
  opacity: 0.8;
  /*          filter: opacity(80%); */ }

ul.home-social li a.twitter {
  background-position: center 0; }

ul.home-social li a.facebook {
  background-position: center -200px; }

ul.home-social li a.mail {
  background-position: center -400px; }


.content-bar {
    position: relative;
    background: #efefef;
}
.content-bar .left {
    height: 100%;
    position: relative;
}
.content-bar .right {
    padding-right: 0;
}
.content-bar .right img {
    max-width: none;
    width: 100%;
}
.content-bar .row {
    position: relative;
}
.mid-bar content-holder left {
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 35px 0;
}
.mid-bar .entry-item .entry-thumb {
    width: 386px;
    float: left;
    margin-right: 20px;
    position: relative;
    border: white solid 6px;
}
.mid-bar .entry-item .entry-thumb img {
    display: block;
    width: 100%;
}
.mid-bar .entry-item .entry-thumb a {
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #fff;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    position: absolute;
    z-index: 0;
    bottom: 15px;
    right: 15px;
}
.mid-bar .entry-item .entry-thumb a:hover {
    color: #18adb5;
    border: 2px solid #18adb5;
}
.mid-bar .entry-item .entry-content {
    float: left;
    width: 100%;
}
.mid-bar .entry-item .entry-content header {
    margin-bottom: 20px;
}
.mid-bar .entry-item .entry-content header .entry-categories {
    margin-bottom: 15px;
    display: block;
}
.mid-bar .entry-item .entry-content header .entry-categories span {
    margin-right: 10px;
}
.entry-title {
    margin: 0 0 15px;
}
.mid-bar .entry-item .entry-content header .entry-title a {
    float: left;
}
.mid-bar .entry-item .entry-content header .entry-title span {
    display: block;
    padding: 3px 7px 2px;
    margin-right: 15px;
    float: left;
    margin-top: 5px;
}
.mid-bar .entry-item .entry-content header .meta-box {
    float: left;
}
.entry-date {
    font-size: 12px;
}
.entry-date {
    text-transform: uppercase;
    font-weight: 600;
}
.entry-comments span,
.entry-view span {
    margin-right: 10px;
}
.entry-view span {
    font-size: 14px;
}
.entry-comments,
.entry-comments a,
.entry-view {
    font-size: 12px;
    font-weight: 600;
}
.mid-bar .entry-item .entry-content header .entry-date,
.mid-bar .entry-item .entry-content header .entry-comments,
.mid-bar .entry-item .entry-content header .entry-view {
    margin-right: 15px;
}
.mid-bar .entry-item .entry-content p {
    color: #fff;
}
.content-holder {
    padding-top: 30px;
}
.widget {
    margin-bottom: 30px;
}
.title {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
    margin: 0 0 25px;
    text-transform: uppercase;
}
.title span {
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
}
.widget ul li {
    list-style: none;
}
.entry-date {
    font-size: 12px;
}
.widget ul li {
    margin: 0 0 25px;
}
.widget .entry-thumb {
    float: left;
    position: relative;
    margin-right: 25px;
    margin-bottom: 20px;
}
.widget .entry-content {
    float: left;
    width: 100%;
    margin-top: -5px;
}

.widget .entry-title span {
    display: block;
    padding: 3px 7px 2px;
    margin-right: 15px;
    float: left;
    margin-top: 5px;
}
.widget header {
    margin-bottom: 10px;
}
.widget header .meta-box {
    float: left;
}
.widget header .entry-date,
.widget header .entry-comments,
.widget header .entry-view {
    margin-right: 15px;
}
.widget header .rating {
    float: left;
}
.widget header .rating li {
    margin: 0 0 0 2px;
}
